//Font size
$fontSize_xxs: 10px;
$fontSize_xs: 12px;
$fontSize_s: 16px;
$fontSize_m: 24px;
$fontSize_l: 30px;
$fontSize_xl: 42px;

//Colors:
$gray: #665d5d;
$gray-light: #969191;
$yellow: #fdfead;
.svg-oval-fill {
	fill: $yellow;
}
$greenishWhite: #eef5ee;
$green: #52c150;
$green-light: #BAF2B9;
.svg-waves-top-fill {
	fill: $green-light;
}
.svg-waves-bottom-fill {
	fill: $green-light;
}
