//Font size
$fontSize_xxs: 10px;
$fontSize_xs: 12px;
$fontSize_s: 16px;
$fontSize_m: 24px;
$fontSize_l: 30px;
$fontSize_xl: 42px;

//Colors:
$gray: #665d5d;
$gray-light: #969191;
$gray-lightest: #d9d9d9;
.svg-blob-fill {
	fill: $gray-lightest;
}
$yellow: #fdfead;
.svg-yellow-fill {
	fill: $yellow;
}
$green: #52c150;
$greenishWhite: #eef5ee;
$green-light: #baf2b9;
.svg-waves-fill {
	fill: $green-light;
}
.svg-waves-fill {
	fill: $green-light;
}
$pink: #F2BEBE;
