@import "../../../variables.scss";

.layout {
	padding: 10px;
	font-size: $fontSize_xxs;

	&--green {
		background-color: $green-light;
	}

	&--pink {
		background-color: $pink;
	}
}

@media screen and (min-width: 414px) {
	.layout {
		padding: 20px;
	}
}

@media screen and (min-width: 768px) {
	.layout {
		padding: 50px;
	}
}

@media screen and (min-width: 1024px) {
	.layout {
		padding: 80px;
	}
}
